.idea/encodings.xml
.idea/l10n_gt_extra.iml
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/R_User_Library.xml
models/__pycache__/*
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/account_invoice.cpython-36.pyc
models/__pycache__/account_payment.cpython-36.pyc
models/__pycache__/account.cpython-36.pyc
models/__pycache__/l10n_gt_extra.cpython-36.pyc
models/__pycache__/purchase.cpython-36.pyc
models/__pycache__/report.cpython-36.pyc
models/__pycache__/res_company.cpython-36.pyc
models/__pycache__/res_partner.cpython-36.pyc
report/__pycache__/__init__.cpython-36.pyc
report/__pycache__/asistente_reporte_banco.cpython-36.pyc
report/__pycache__/asistente_reporte_compras.cpython-36.pyc
report/__pycache__/asistente_reporte_diario.cpython-36.pyc
report/__pycache__/asistente_reporte_inventario.cpython-36.pyc
report/__pycache__/asistente_reporte_mayor.cpython-36.pyc
report/__pycache__/asistente_reporte_ventas.cpython-36.pyc
report/__pycache__/reporte_banco.cpython-36.pyc
report/__pycache__/reporte_compras.cpython-36.pyc
report/__pycache__/reporte_diario.cpython-36.pyc
report/__pycache__/reporte_inventario.cpython-36.pyc
report/__pycache__/reporte_mayor.cpython-36.pyc
report/__pycache__/reporte_partida.cpython-36.pyc
report/__pycache__/reporte_ventas.cpython-36.pyc
models/__pycache__/account_invoice.cpython-36.pyc
*.pyc
.vscode/settings.json
